body{
    display: flex;
  flex-direction: column;
  margin-top: 44px;
}  
  .container {
    display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
  padding: 30px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 10px;
  }
  
  h1 {
    color: #333;
  }
  
  p {
    color: #555;
  }
  
  label {
    display: block;
    margin-top: 15px;
  }
  
  input {
    width: 350px;
  font-size: 14px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  }
  
  button {
    width: 100%;
  max-width: 400px;
  font-size: 20px;
  padding: 7px;
  margin-top: 20px;
  background-color: #62b995;;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  
  button:hover {
    background-color: #5ba486;
  }
  